<!doctype html>
<html>
  <head><title>Nuevo Usuario</title></head>
  <body>
    <h1>Agregar nuevo usuario</h1>
    <form action="/usuarios" method="post">
      <input type="text" name="nombre">
      <input type="submit" value="agregar">
    </form>
  </body>
</html>
